body{
    background-color: rgb(50, 49, 49);
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.box{
    width: 300px;
    margin: 0 auto;
    background-color: rgb(35, 34, 34);
    padding: 1rem 1.5rem;
    box-sizing: border-box;
}
label{
    color: grey;
}
input{
    width: 100%;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    background-color: rgb(71, 71, 71);
    border: 1px #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
p{
    width: 300px;
    height: 50px;
    background-color: rgb(71, 71, 71);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-left: -24px;
    line-height: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
input[type=submit]{
    display: inline;
    margin: 10px auto;
    background-color: #008b8b;
    color: white;
    width: 100px;
    text-align: left;
}
.b{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin: 20px auto;
}
.d{
    width: 200px;
    height: 30px;
    background-color: rgb(87, 86, 86);
    color: #ffffff;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    margin-left: 25px;
}